[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
	branch = v4.8.0
[submodule "lib/ds-test"]
	path = lib/ds-test
	url = https://github.com/dapphub/ds-test
[submodule "lib/axelar-cgp-solidity"]
	path = lib/axelar-cgp-solidity
	url = https://github.com/axelarnetwork/axelar-cgp-solidity
	branch = v4.4.0
[submodule "lib/axelar-gmp-sdk-solidity"]
	path = lib/axelar-gmp-sdk-solidity
	url = https://github.com/axelarnetwork/axelar-gmp-sdk-solidity
	branch = v3.0.0
